# Core LangChain
langchain
langchain-community
langchain-core

langchain-huggingface
langchain-chroma

# UI Framework
streamlit

# Embeddings 
sentence-transformers


# For local LLM inference using Ollama
# langchain-ollama

# Vector Stores 
chromadb

# Document Loaders
pypdf              
unstructured       
python-magic      
python-dotenv      
dotenv

langchain-ollama
#langchain-groq   


# NLP 
spacy
# nltk

# Visualization 
# umap-learn
# scikit-learn 
# plotly
# matplotlib